<configuration>
    <property name="logHome" value="${user.home}/logs/tunnel-client"/>
<!--    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M \\(%line\\) - %msg%n"/>-->
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level - %msg%n"/>
    <property name="defaultMaxFileSize" value="10MB"/>
    <property name="defaultMaxHistory" value="10"/>
    <property name="defaultCharset" value="UTF-8"/>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>${defaultCharset}</charset>
        </encoder>
    </appender>
    <appender name="Default" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logHome}/default.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logHome}/default.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxFileSize>${defaultMaxFileSize}</maxFileSize>
            <maxHistory>${defaultMaxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>${defaultCharset}</charset>
        </encoder>
    </appender>
    <appender name="TunnelEventLoggerAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logHome}/tunnel-event.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logHome}/tunnel-event.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!-- keep 10 days worth of history -->
            <maxFileSize>${defaultMaxFileSize}</maxFileSize>
            <maxHistory>${defaultMaxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>${defaultCharset}</charset>
        </encoder>
    </appender>
    <logger name="TunnelEventLogger" level="INFO" additivity="false">
        <appender-ref ref="TunnelEventLoggerAppender"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="Default"/>
    </root>
</configuration>
